server {
    listen 80;
    server_name {{ server_domain }};

    location = /favicon.ico { access_log off; log_not_found off;}

    location / {
        include       {{ project_path }}/uwsgi_params;
        uwsgi_pass    unix:{{ project_path }}/traveldb.sock;
    }
}