description "uWSGI application server serving django"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ application_user }}
setgid www-data

exec /usr/local/bin/uwsgi --emperor /etc/uwsgi/sites