[uwsgi]
project = traveldb
base = {{ project_path }}

chdir = %(base)
home = {{ virtualenv_path }}
module = %(project).wsgi:application

master = true
processes = {{ ansible_processor_cores }}
socket = %(base)/%(project).sock
vaccum = true